/* ---- Base Rules ---- */

body {
    background: rgb(51, 10, 235);
    background-size: contain;
    font-family: Montserrat;
    color: #D3D3D3;
    text-align: center;
}


/* Typeography General*/

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
    color: rgb(252, 10, 22);
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

p {
    line-height: 1.6em;
    color: #eee;
}


/* ---- Layout Rules ---- */

main {
    margin: 10vh 1em 10vh;
}

section {
    position: relative;
    min-height: 80vh;
    transition-duration: 0.4s;
}


/* ---- Module Rules ---- */


/* Navigation Styles*/

.navbar ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
    background-color: #FFA07A;
}

.navbar li {
    display: inline-block;
}

.navbar .menu {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: oldlace;
    color: #2F4F4F;
}

.navbar .menu:hover {
    background: #FAF0E6;
    color: #2F4F4F;
    transition-duration: 0.4s;
}

.navbar .active__link {
    background: #FAF0E6;
    color: #2F4F4F;
}


/* Header Styles */

.page__header {
    background: #FF7F50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* ---- Theme Rules ---- */


/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
        text-align: left;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}


/*CSS for the back to the top button*/

#jsTop {
    size: 5px;
    cursor: none;
}

@media only screen and (max-width: 500px) {
    ul {
        flex-direction: column;
    }
    li {
        margin: 0;
    }
    a {
        display: block;
    }
}

button {
    display: block;
    cursor: pointer;
    align-self: flex-start;
}

@media only screen and (max-width: 500px) {
    button {
        display: block;
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: .5em;
    width: 80px;
    height: 80px;
    background-color: #F8F8F8;
}

section:nth-of-type(odd) .landing__container::before {
    content: "";
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

html {
    scroll-behavior: auto;
    scroll-behavior: smooth;
}